/**************************************
 * ImStoreFront - Frontend styles
 * 
 * @package Image Store
 * @author Hafid Trujillo
 * @copyright 20010-2011
 * @since 0.5.0
 *
***************************************/
#ims-mainbox { font-family:'Helvetica Neue', Arial, Helvetica, sans-serif; position:relative }
#ims-mainbox .ims-nav-box { width:100%; clear:both; height:40px; padding:0; margin:0;}
#imstore-nav { padding:0; margin:0; list-style:none; font-size:.8em; }
#imstore-nav li { list-style:none; float:left; padding:5px 8px }
.ims-labels { padding:12px 8px 5px; color:#888; font-size:.8em; border-top: solid 1px #e7e7e7}
.ims-labels .title { color:#666; font-weight:bold }
.ims-tools-nav { position:absolute; right:5px; top:48px; padding:0; margin:0; list-style:none; font-size:.725em; }
.ims-tools-nav li { list-style:none; float:left; padding:5px}
.ims-message.success { padding:5px 8px; background-color:#f8ffed; border:solid 1px #8ead4c; margin-bottom:10px;}
.ims-add-error, .ims-message.error { padding:5px 8px; background-color:#fff1ed; border:solid 1px #ad5555; margin-bottom:10px;}
.ims-innerbox{ padding:10px 0; }
ul.ims-gallery { float:left; position:relative; padding:2.5px 5px 0; list-style:none; margin:0}
ul.ims-gallery li {font-size:.7em; padding:0 5px; margin:0; display:block; float:left; line-height:120%; list-style:none}
ul.ims-gallery li input[type=checkbox]{ position:absolute;}

.ims-image-count{ padding:20px 10px 10px; clear:both; font-size:1.5em; font-weight:bold}
.ims-instructions{ padding:0 10px 10px; clear:both;}
.ims-field{ float:left; padding-left:10px;}
.ims-field.ims-submit{ width:35px padding:15px 10px; text-align:right}
.ims-field #ims-quantity{ width:30px}

.ims-innerbox .thank-you-message{ font-size:.9em}
.ims-innerbox .ims-terms-condtitions{ font-size:.7em; color:#999}
#ims-pricelist{ display:none}
td.promo-code .ims-break{ clear:both; display:block}

/*Slideshow*/
.ims-slideshow-box { font-size:.9em}
.ims-slideshow-box .ims-preview { float:left; width:400px; display:table; border:solid 1px #e7e7e7 }
.ims-slideshow-box .ims-slideshow-row { display:table-row;}
.ims-slideshow-box .ims-slideshow{ display:table-cell; height:380px; width:380px; text-align:center; vertical-align:middle; padding:5px 3px 0 3px}
.ims-slideshow-box .ims-slideshow img { max-height:375px; max-width:375px; margin:auto}
.ims-slideshow-box .ims-slideshow-tools-box{ float:left; height:390px; width:220px; padding: 0 8px;}
.ims-slideshow-box .image-color{ padding:10px 0; height:auto; margin-right:10%; border-bottom:solid 1px #e7e7e7; border-top:solid 1px #e7e7e7}
.ims-slideshow-box .image-color label{ margin-right:10px;}
.ims-slideshow-box .image-color input { margin:0; padding:0}
.add-to-favorite-single{ margin-bottom:10px}

/*Galleriffic*/
div.ims-player{ position:relative}
div.ss-controls{ position:absolute; left:45%; top:19px;}
div.ss-controls a{ height:50px; width:50px; position:relative; top:-13px; display:block;}
div.nav-controls .next{ float:right; height:30px; line-height:2.5em; display:block;padding-right:10%}
div.nav-controls .prev{ float:left; height:30px; line-height:2.5em; display:block}
.ims-slideshow-tools-box .ims-caption{ clear:both; font-size:.8em; color:#999; padding:25px 0 0;}

div.ims-imgs-nav{ clear:both; font-size:.9em}
div.pagination a, 
div.pagination span.current, 
div.pagination span.ellipsis{ display: block; float: left; margin-right:2px; padding:2px 7px; border:1px solid #e7e7e7}
div.pagination{ clear: both; padding:4px;}
div.top{ margin-bottom:12px; height:22px;}
div.bottom{ padding-top:5px; height:22px;}
div.pagination a:hover { text-decoration: none;}
div.pagination span.current{ color:#999; border-color:#e7e7e7}
div.pagination span.ellipsis{ border: none; padding: 5px 0 3px 2px;}
#ims-thumbs div.pagination.bottom { display:none!important}
#ims-thumbs{ float:left; width:100% }
#ims-thumbs .thumbs{ list-style:none; padding:0; margin:0}
#ims-thumbs .thumbs li{ list-style:none; margin:0; padding:2px 4px; float:left}
#ims-thumbs .thumbs li .caption{ display:none}
.ims-slideshow-box{ margin-bottom:15px}
.ims-slideshow-box .cl{ clear:both}

/*Tables*/
table.ims-table { border:none; border-spacing:0; border-collapse:separate; }
table.ims-table td,
table.ims-table th { font-family:'Helvetica Neue', Arial, Helvetica, sans-serif; vertical-align:middle}
#ims-mainbox table.ims-table td { padding:6px 18px;}
#ims-mainbox table.ims-table tr th,
#ims-mainbox table.ims-table tr .subhead{ line-height:120%; color:#888; font-size:.85em; font-weight:bold}
#ims-mainbox table.ims-table tr input,
#ims-mainbox table.ims-table tr select{ margin:0}
#ims-mainbox table.ims-table td{ font-size:.85em; }
#ims-mainbox table.ims-table tr .subrows span { display:block; float:left}
#ims-mainbox table.ims-table tr .size{ width:18%;}
#ims-mainbox table.ims-table tr .price{ width:18%;}
#ims-mainbox table.ims-table tr .subtotal{ width:20%;}
#ims-mainbox table.ims-table tr .color{ width:23%}
#ims-mainbox table.ims-table tr .preview{ padding:10px; width:70px}
#ims-mainbox table.ims-table tr .quantity{ width:12%}
#ims-mainbox table.ims-table tr .quantity input { width:70%}
#ims-mainbox table.ims-table tr td.subrows{ padding:0}

#ims-mainbox table.ims-table .clear-row { width:100%; float:left; margin-bottom:2px;}
#ims-mainbox.shopping-cart table.ims-table th { padding-left:0px; padding-right:0px; }
#ims-mainbox.shopping-cart tfoot tr td { padding-left:15px}
#ims-mainbox td.ims-download { text-align:center;}

/*FORMS*/
#ims-mainbox .shipping-info { padding-top:20px;}
#ims-mainbox .shipping-info .req{ color:#900; padding-left:5px}
#ims-mainbox .shipping-info .ims-p{ clear:both}
#ims-mainbox .shipping-info label{ width:80px; display:block; float:left}
#ims-mainbox .shipping-info input[type=text]{ float:left; margin-right:20px; width:185px}
#ims-mainbox .shipping-info input#user_email{ width:480px}
#ims-mainbox .shipping-info input#address_street{ width:480px}
#ims-mainbox .shipping-info .order-info span{ display:block; float:left; text-align:center; width:49%; }
#ims-mainbox .shipping-info .submit-buttons{ text-align:right}

/*WIDGET*/
.ims-widget ul.ims-gallery { margin:0 auto; padding:0; display:inline}
.ims-widget ul.ims-gallery li { margin:0; padding:0; height:auto; width:auto}
.ims-widget ul.ims-gallery li img{ width:75px; height:auto; float:left; margin:0 10px 10px 0;}
