
/**
 * ADMIN STYLES
 *
 * @package Image Store
 * @author Hafid Trujillo
 * @copyright 20010-2011
 * @since 0.5.0
*/


.clear							{ clear:both}
.imstore .ims-tabs				{ float:left; display:block; width:100%; padding:0}
.imstore .ims-tabs li 			{ float:left; margin:0 2px; 0 0 }
.imstore .ims-tabs li a			{ text-decoration:none}
.imstore .ims-tabs .current		{ cursor:default }
.imstore .ims-tabs .current a 	{ color:#333; font-weight:bold; cursor:default}
.imstore .ims-box				{ border:solid 1px #EBEBEB;
								 padding:20px 15px 10px 15px;
								 background:#fff;
								 margin-bottom:15px;
								 clear:both; 
								}
.inside-col1					{ width:28%; float:left;}
.inside-col2					{ width:70%; float:left; margin-right:2%;}
.inside-col1 div.postbox		{ min-width:inherit}

#icon-galleries,
#icon-new-gallery				{ background:url(../_img/icons.png) no-repeat 100% 50% }
#icon-sales						{ background:url(../_img/icons.png) no-repeat 50% 50% }
#icon-pricing					{ background:url(../_img/icons.png) no-repeat 0 50% }

/******** TABLES **********/

tr.filler						{ display:none; text-align:center; line-height:3em; vertical-align:middle; font-size:.9em; color:#999}
.ims-table						{ width:100%;}
.ims-table td 					{ padding:5px;}
.ims-table .t label				{ padding-right:20px;}
.ims-table td.submit			{ padding-top:15px;}
.ims-table .default 			{ width:3%;}
.ims-table td.x					{ width:3%; text-align:center; cursor:pointer}
.ims-table td.x:hover			{ background:#f99; }
.ims-table .trash 				{ width:3%; font-size:1.4em; font-weight:bold; cursor:pointer}
.ims-table .trash a 			{ color:#666; text-decoration:none; }
.ims-table .trash:hover 		{ background:#f00!important}
.trash:hover a					{ color:#fff;}


table.store-detail td			{ vertical-align:middle}
table.price-list,
table.package-list				{ margin-bottom:5px;}
table.price-list td,
table.package-list td			{ border:solid 1px #fff;}
.price-list tr.label label		{ width:24.5%; float:left; font-size:.9em}
.price-list tr.label input		{ float:left; margin:0; float:none; margin-top:5px;}
table.sizes-list td input[type=text]{ width:100%; padding:2px}

.ims-table .inline-edit-col		{ margin-right:20px;}
.ims-table td.btop				{ border-top:solid 1px #ddd; padding-top:10px;}
.ims-table .loading				{ background:url(../_img/loading.gif) no-repeat 0 50%; 
								 padding:3px 0 3px 20px; 
								 font:italic .9em Georgia, "Times New Roman", Times, serif;
								 display: none;
								}

.column-order					{ width:7%}
.column-thumb					{ width:90px}
td.column-thumb					{ padding:10px 0; text-align:center}
.column-thetitle				{ width:35%}
.column-imageid					{ width:9%; text-align:center}
.column-ordernum				{ width:16%}

/*.column-imauthor				{ width:9%}
.column-metadata				{ width:13%}
.column-uploaddate				{ width:13%}
tr td.column-imageid			{ width:9%;}*/

table.store-detail .clear-row { clear:both}
table.store-detail span{ display:block; float:left }
table.store-detail .size{ width:20%;}
table.store-detail .price{ width:15%;}
table.store-detail .subtotal{ width:20%;}
table.store-detail .color{ width:20%}
table.store-detail .imageid{ width:8%}
table.store-detail .quantity{ width:12%}


/******** FORMS **********/

.imstore .inputxm, .inputxm	 	{ width:40px}
.imstore .inputsm 				{ width:60px}
.imstore .input 				{ width:28%}
.imstore .inputmd 				{ width:65%}
.imstore .inputlg 				{ width:75%}
.imstore .inputxl 				{ width:98%}
.imstore .date 					{ width:115px; margin-right:20px}
.imstore input					{ margin-bottom:5px}

form.new-promo label input,
form.new-promo label select		{ margin-top:5px} 
form.new-promo input[type=radio]{ margin:10px 0 }
div.inside.edit-promo			{ background:#ffffe0}
span.sort-label					{ padding-left:15px;}
.tablenav p.search-box			{ margin:0; padding-top:3px;}
.imstore input[disabled]		{ background-color:#eee}

form.paypal-donate				{ position:relative;}
form.paypal-donate * 			{ display:none}
form.paypal-donate input[type=image] { display:block; position:absolute; left:160px; top:20px}

/******** WIDGETS **********/

td.move							{ width:3.5%}
.itemtop 						{ font-weight:bold; padding: 0 5px; }
.itemtop a						{ float:right; text-decoration: none; }
.itemcontent 					{ padding:5px}
.price-list thead th,
.package-list thead th 			{ padding:5px 10px;}
.price-list td.move				{ background:url(../_img/move_icons.png) no-repeat -12px 50%; cursor:move}
.sizes-list td.move				{ background:url(../_img/move_icons.png) no-repeat 2px 50%; cursor:move}
.package-list td.move			{ background:url(../_img/move_icons.png) no-repeat 6px 50%; cursor:move}
.package-list input				{ margin:0}

.sizes-list .col-hide,
.sizes-list input[type=checkbox]{ display:none}

#packages .package-list	td		{ padding:2px 5px} 
#price-list .package-list td.x { display:none}
#packages .package-list td.move	{ background:url(../_img/move_icons.png) no-repeat -12px 50%; cursor:move}
#packages .package-list .size .hidden{ display:block }
#packages .package-list .size .input{ display:none }


.copyrow 						{ display:none}
.add-image-size 				{ float:right}
tr.ui-sortable-helper,
tr.ui-draggable-dragging		{ width:100%!important; display:table-row!important}
tr.ui-draggable-dragging .move	{ background:none}
tr.widget-placeholder			{ display:block; height:15px; margin:4px 0}
tr.ui-draggable-dragging input,
.price-list-box .size input[type=text]{ display:none }
tr.ui-draggable-dragging .hidden,
.price-list-box .size .hidden	{ display:block }

div.loading						{ float:left}
#zipupload, #importfolder		{ float:left; margin-right:15px;}

/******** JQUERY FILE UPLOAD **********/

.selectfiles					{ position:relative; top:-4px; font-weight:bold}
#imagefilesUploader				{ position:relative; left:-110px; top:6px; padding:3px 5px;}
.uploadifyQueue .cancel			{ float:left; margin-right:10px; padding:3px; }
.uploadifyQueueItem				{ background:#f5f5f5; margin-bottom:5px; padding:3px 5px; }

.postbox:hover .handlediv,
#poststuff .postbox:hover .handlediv{
	background: transparent url(../../../../wp-admin/images/menu-bits-vs.gif) no-repeat scroll left -111px;
}
